html,
body {
  height: 100%;
  margin: 0;
  font-family: arial, sans-serif;
	font-size: 12px;
}

#conteneur
{
	display: flex;
    flex-direction: column;
    justify-content: center; 
       align-items: center;
    height: 100%;
 
}


.element:nth-child(1)
{
	align-self: flex-end;
	flex: 1;
	padding-right: 10px;
}

.elements:nth-child()
{

}

.element:nth-child(4)
{
	align-items: flex-end;
	flex: 1;
}

.element:nth-child(5)
{
	justify-content: flex-start;
}

#footer
{
	border: 2px solid red;
	align-items: flex-end;
	justify-content: space-between;
}

li
{
	display: inline-block;
}

a {
  color: rgba(0,0,0,.54);
}